[Unit]
Description=heizberry
After=network-online.target

[Service]
Type=simple
ExecStart=/srv/heizberry/heizberry.py

Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
